<%= form_with(model: webhook_event) do |form| %>
  <% if webhook_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(webhook_event.errors.count, "error") %> prohibited this webhook_event from being saved:</h2>

      <ul>
        <% webhook_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
